.pot {
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    width: 30vw;
    border: 3px;
    box-shadow: 2px;
    
}

.content-container{
    margin: 20px;
    width: 100vw;
}